/* Ensure the gallery layout is responsive and centered */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .gallery{
    .image-item{
        img{
            max-height: 270px;
        }
    }
      img {
          width: 100%;
          max-width: 200px; /* Control image size */
          height: auto;
          cursor: pointer;
          transition: transform 0.3s ease-in-out;
          
        }
    } 
  
  /* Hover effect on the thumbnails */
  .gallery img:hover {
    transform: scale(1.05);
  }
  
  /* Modal Styling */
  .modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
    img{
    max-height: 800px;

    }
  }
  
  .modal.open {
    display: flex; /* Show the modal when it has the open class */
  }
  
  .modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
  }
  
  .modal img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: contain; /* Ensures the image fits inside the container without overflow */
  }
  
  .modal .description {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #333;
  }
  
  .modal .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff8ab5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s;
  }
  
  .modal .close-btn:hover {
    background: #d48b95;
  }
  
  /* Swipe buttons */
  .modal .prev-btn,
  .modal .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 2rem;
    z-index: 2;
  }
  
  .modal .prev-btn {
    left: 10px;
  }
  
  .modal .next-btn {
    right: 10px;
  }
  
  .modal .prev-btn:hover,
  .modal .next-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  