<div class="birthday-frame">
  <h1>🎉❤️ יומולילו שמח 🎉❤️</h1>
  <h4>אמרת שאין לנו הרבה תמונות אז הכנתי לך גלריה של כל הזמן שלנו יחד שתראי שאת כנראה לא זוכרת כמה הצטלמנו</h4>
  <button class="gallery-btn" [routerLink]="'/gallery'"> הגלריה שלנו </button>

  <div class="birthday-message">
    <p>
      כתבתי לך כבר אין ספור מכתבים והפעם חשבתי לנסות להיות יצירתי עם הברכה ליומולילו השני שאני חוגג איתך אז קודם כל
      אני מקווה שאהבת את זה ביחד עם הגלריה של כל התמונות שלנו.
      <br><br>
      לפני הכל אני אגיד לך מזל טוב עד 444 שנים ואני מאחל לך באמת באמת באמת באמת את כל הטוב שאפשר לאחל לבנאדם בעולם הזה! 
      את אישה מדהימה ונדירה שהגיעה אליי לפני שנתיים ולא יכלתי לבקש טובה ממך.
      <br><br>
      את כבר יודעת כמה אני מאמין בך ויודע מה את שווה ואני מאחל לך שתגיעי להצלחה בכל דרך שתבחרי ללכת בה ושכל משאלה, איחול, או זימון שלך יתגשמו לטובה!
      <br><br>
      תלכי תמיד עם האמת שלך ובדרך שלך כי זו הדרך הכי טובה בעולם.
      <br><br>
      בגדול? אני פשוט אוהב אותך ואת מי שאת, כמו שאת!
      <br>
      בקטן? אני אוהב את הפשטות שלך, את האמת שלך, השובבות שלך כשאת איתי, את היופי הבלתי נגמר שלך וכמובן את היופי הפנימי ששופע בך.
      <br><br>
      מקווה שהיה לך כיף איתי בסופש יומולדת ושאהבת את המתנות.  
      את חשובה לי ברמות והלוואי שתישארי איתי תמיד ❤️
    </p>
  </div>
</div>
